@use '../abstratcs/' as *;

.form{
  &__group{
    position: relative;
  }
  &__label{
    pointer-events: none;
    position: absolute;
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    border: 1px solid var(--border-color);
    top: 50%;
    left: rem(24);
    transform: translateY(-50%);
  }
  &__control{
    background-color: var(--card-bg);
    max-height: rem(48);
    height: rem(48);
    width: 100%;
    border-radius: rem(5);
    box-shadow: none;
    font-size: rem(12);
    border: 0;
    padding: rem(13) rem(20) rem(13) rem(55);
    transition: background .4s;
  }
}

.custom-checkbox{
  position: relative;
  &__label{
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__input{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
    margin: 0;
    &:focus  ~ .custom-checkbox__label{
      outline: 2px solid var(--focus);
    }
    
    &:checked ~ .custom-checkbox__label{
      background: var(--linear-gradient);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &:before{
        content: '';
        background-image: url('#{$img-path}/icon-check.svg');
        width: 11px;
        height: 9px;
        display: inline-block;
        // background-repeat: no-repeat;
        // transform: translate(-50%, -50%);
        // position: absolute;
        // top: 50%;
        // left: 50%;
      }
     
    }
  }
}