@use '../abstratcs/' as *;

.form{
  &__group{
    position: relative;
  }
  &__label{
    pointer-events: none;
    position: absolute;
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    border: 1px solid var(--border-color);
    top: 50%;
    left: rem(24);
    transform: translateY(-50%);
  }
  &__control{
    color: var(--text-color-input);
    background-color: var(--card-bg);
    max-height: rem(48);
    height: rem(48);
    width: 100%;
    border-radius: rem(5);
    box-shadow: none;
    font-size: rem(12);
    border: 0;
    padding: rem(13) rem(20) rem(13) rem(55);
    transition: background .4s;
    @include breakpoint('small'){
      font-size: rem(18);
    }
  }
}

.custom-checkbox{
  position: relative;
  &__label{
    font-size: rem(12);
    color: var(--text-color);
    vertical-align: middle;
    cursor: pointer;
    @include breakpoint('small'){
      font-size: rem(18);
    }
    &--completed{
      color: var(--text-color-completed);
      text-decoration: line-through;
    }
  }
  &__input{
    border-radius: 50%;
    appearance: none;
    width: rem(20);
    height: rem(20);
    border: 1px solid var(--border-color);
    margin: 0;
    background-color: var(--card-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: top;
    cursor: pointer;
    margin-right: rem(10);
    transition: background .4s;
    position: relative;
    &:hover{
      transition: background .4s;
      border: 0;
      background: var(--linear-gradient);
    }
    &:checked{
      border: 0;
      background: var(--linear-gradient);
      &:after{
        content: "";
        position: absolute;
        background: var(--linear-gradient);
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        border-radius: 50%;
      }
      &:before{
        content: '';
        background-image: url('#{$img-path}/icon-check.svg');
        background-color: transparent;
        width: rem(11);
        height: rem(9);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(50%, -50%);
        border: 0;
        z-index: 1;
        opacity: 1;
      }
    }
    &:focus{
      outline: 2px solid var(--focus);
      outline-offset: 1px;
    }
    &:after{
      content: "";
      position: absolute;
      background: var(--card-bg);
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      border-radius: 50%;
    }
  }
}