//BREAKPOINTS

// 576px, 768px, 992px, 1200px, 1440px, 1444px
$breakpoints-up: (
  'small': '36em',
	'medium': '48em',
	'large': '62em',
	'xlarge': '75em',
	'xxlarge': '90em',
	'xxxlarge': '90.25em'
);

// 575px, 767px, 991px, 1199px, 1439px, 1443px
$breakpoints-down: (
	'small': '35.9375em',
	'medium': '47.9375em',
	'large': '61.9375em',
	'xlarge': '74.9375em',
	'xxlarge': '89.9375em',
	'xxxlarge': '90.1875em',
);

$spacer: 1rem;

$spacer: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

$theme-fonts: (
	400: 'Regular',
	700: 'Bold'
);

//COLORS

//Primary
$blue: hsl(220, 98%, 61%); //Bright Blue
$malibu: hsl(192, 100%, 67%); //Check Background
$heliotrope: rgb(192, 88, 243); //Check Background

//Light Theme
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 98%); //Very Light Gray
$snuff: hsl(236, 33%, 92%); //Very Light Grayish Blue //Light Grayish Blue (hover)
$mischka: hsl(233, 11%, 84%); //Light Grayish Blue
$manatee: hsl(236, 9%, 61%); //Dark Grayish Blue
$mulledWine: hsl(235, 19%, 35%); //Very Dark Grayish Blue

//Dark Theme
$cinder: hsl(235, 21%, 11%); //Very Dark Blue
$ebonyClay: hsl(235, 24%, 19%); //Very Dark Desaturated Blue
$periwinkle: hsl(234, 39%, 85%);//Light Grayish Blue
$waterloo: hsl(234, 11%, 52%); //Dark Grayish Blue
$trout: hsl(233, 14%, 35%); //Very Dark Grayish Blue
$brightGray: hsl(237, 14%, 26%); //Very Dark Grayish Blue

$theme-colors: (
	primary: (
		blue: $blue,
		malibu: $malibu,
		heliotrope: $heliotrope
	),
	light: (
		white: $white,
		gray: $gray,
		snuff: $snuff,
		mischka: $mischka,
		manatee: $manatee,
		mulledWine: $mulledWine
	),
	dark: (
		cinder: $cinder,
		ebonyClay: $ebonyClay,
		periwinkle: $periwinkle,
		waterloo: $waterloo,
		trout: $trout,
		brightGray: $brightGray
	),
);

//BASE
$font-family-base: JosefinSans;
$font-size-base: 18px;
$font-weight-base: var(--font-Regular);

//PATH
$img-path: '../img';
$fonts-path: '../fonts';

