@use '../abstratcs/' as *;

[data-theme="dark"]{
  --body-bg: var(--dark-cinder);
  --card-bg: var(--dark-ebonyClay);

  --border-color: var(--dark-brightGray);
  --text-color: var(--dark-periwinkle);
  --text-color-completed: var(--dark-trout);
  --text-color-label: var(--light-mulledWine);
  --text-color-input: var(--dark-periwinkle);

  --box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  --focus: var(--light-mischka);

  --header-img: url('#{$img-path}/bg-mobile-dark.jpg');
  --theme-icon: url('#{$img-path}/icon-sun.svg');

  @include breakpoint('medium'){    
    --header-img: url('#{$img-path}/bg-desktop-dark.jpg');    
  }
}

body{
  background-color: var(--body-bg);
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  background-repeat: no-repeat;
  transition: background .4s;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}


button{
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.sr-only{
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  outline: 0;
}