@use '../abstratcs/' as *;

[data-theme="dark"]{
  --body-bg: var(--dark-cinder);
}

body{
  background-color: var(--body-bg);
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  background-repeat: no-repeat;
}