@use '../abstratcs/' as *;

body{
  background-color: $body-bg;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  background-image: url('#{$img-path}/html.png');
  background-repeat: no-repeat;
}