@use '../abstratcs/' as *;

@each $key, $value in $theme-fonts {
  @font-face {
    font-family: JosefinSans;
    src: 
      local('JosefinSans #{$value}'), local('JosefinSans-#{$value}'),
      url('#{$fonts-path}/Josefin+Sans/JosefinSans-#{$value}.ttf') format('truetype');
    font-style: normal;
    font-weight: #{$key};
    text-rendering: optimizeLegibility;
    font-display: swap;
  }
}
