// @use '../abstratcs/' as *;

// :root{
//   @each $key, $val in $theme-colors {
//     --#{$key} : #{$val};
//   }

//   @each $key, $value in $theme-fonts {
//     --font-#{$value}: #{$key};
//   }
// }