@use '../abstratcs/' as *;

:root{
  @each $color, $shades in $theme-colors {
    @each $key, $value in $shades {
      --#{$color}-#{$key} : #{$value};
    }
  }

  --body-bg: var(--light-gray);
  --card-bg: var(--light-white);

  --border-color: var(--light-snuff);
  --text-color: var(--dark-trout);
  --text-color-label: var(--light-manatee);
  --text-color-completed: var(--light-mischka);
  --text-color-input: var(--light-mulledWine);

  --linear-gradient: linear-gradient(to bottom right, var(--primary-malibu), var(--primary-heliotrope));
  --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

  --focus: var(--dark-waterloo);

  --header-img: url('#{$img-path}/bg-mobile-light.jpg');
  --theme-icon: url('#{$img-path}/icon-moon.svg');

  @each $key, $value in $theme-fonts {
    --font-#{$value}: #{$key};
  }

  @include breakpoint('small'){    
    --header-img: url('#{$img-path}/bg-desktop-light.jpg');    
  }
  
}