<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Frontend Mentor Todo app">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <title>Frontend Mentor | Todo app</title>
</head>
<body data-theme="light">
  <header class="header">
    <div class="container">
      <div class="header__wrapper">
        <h1 class="header__title">TODO</h1>
        <div class="header__theme">
          <input type="checkbox" class="header__theme-checkbox" name="theme" id="theme">
          <label for="theme" class="header__theme-label">
            <span class="sr-only">light theme</span></label>
        </div>
      </div>
      <form id="formTodo" autocomplete="off">
        <div class="form__group">
          <label class="form__label" for=""></label>
          <input type="text" class="form__control" id="todo" name="todo" placeholder="Create a new todo...">
        </div>        
      </form> 
    </div>
    
  </header>
  <main class="container">
    <ul class="list">
      <!-- <li class="list__item">
        <div class="custom-checkbox">
          <input type="checkbox" class="custom-checkbox__input" name="" id="hola">
          <label for="hola" class="custom-checkbox__label custom-checkbox__label--completed">Complete online JavaScript course</label>
        </div>
        <button class="list__remove" aria-label="remove note">
          <img src="../img/icon-cross.svg" width="18" height="18" alt="cross icon">
        </button>
      </li> -->
    </ul>
    <div class="options">
     <span class="options__items">5 items left</span>  
     <nav class="options__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--active">All</a> 
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Active</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Complete</a>
        </li>
      </ul>
    </nav>
     <button class="options__completed">Clear Completed</button>  
    </div>
    <!-- <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--active">All</a> 
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Active</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Complete</a>
        </li>
      </ul>
    </nav> -->
    <p class="info">Drag and drop to reorder list.</p>
  </main>

  <footer class="footer container">
    <p class="footer__attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="https://github.com/josefigueroa/frontend-mentor-todo-app">José Figueroa</a>.</p>
  </footer>
 
</body>
</html>